ProyectoFinal/force-app/main/default/flows/Opportunity_closed_won.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>56.0</apiVersion>
    <assignments>
        <name>Assignment_in_Project</name>
        <label>Assignment in Project</label>
        <locationX>264</locationX>
        <locationY>575</locationY>
        <assignmentItems>
            <assignToReference>Project.Project_Manager__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Project_Manager__r.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Project.Amount__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Amount</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Project.Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Pre-Kickoff</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Project.Opportunity__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Project.Alias__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Project.Start_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Start_Date__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Project.End_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.End_Date__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Projects_List</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assignment_in_Project_Line_Item</name>
        <label>Assignment in Project Line Item</label>
        <locationX>440</locationX>
        <locationY>1967</locationY>
        <assignmentItems>
            <assignToReference>ProjectLineItem.QuantityHours__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_in_Opportunity_Line_Items_List.Quantity</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ProjectLineItem.Role__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_in_Opportunity_Line_Items_List.Role__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ProjectLineItem.Project__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_in_projects_created.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Project_Line_Item_List</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assignment_to_variable_Opportunity_Line_Item</name>
        <label>Assignment to variable Opportunity Line Item</label>
        <locationX>264</locationX>
        <locationY>1271</locationY>
        <assignmentItems>
            <assignToReference>OpportunityLineItem.Role__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_in_Opportunity_Line_Item.Role__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>OpportunityLineItem.Quantity</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_in_Opportunity_Line_Item.Quantity</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>OpportunityLineItem.TotalPrice</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_in_Opportunity_Line_Item.TotalPrice</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Opportunity_Line_Items_List</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Opportunity_Line_Items_List</name>
        <label>Opportunity Line Items List</label>
        <locationX>264</locationX>
        <locationY>1391</locationY>
        <assignmentItems>
            <assignToReference>OpportunityLineItems</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>OpportunityLineItem</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_in_Opportunity_Line_Item</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Project_Line_Item_List</name>
        <label>Project Line Item List</label>
        <locationX>440</locationX>
        <locationY>2087</locationY>
        <assignmentItems>
            <assignToReference>ProjectLineItems</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>ProjectLineItem</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_in_Opportunity_Line_Items_List</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Projects_List</name>
        <label>Projects List</label>
        <locationX>264</locationX>
        <locationY>695</locationY>
        <assignmentItems>
            <assignToReference>Projects</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Project</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_on_Opportunity</targetReference>
        </connector>
    </assignments>
    <environments>Default</environments>
    <interviewLabel>Opportunity closed won {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Opportunity closed won</label>
    <loops>
        <name>Loop_in_Opportunity_Line_Item</name>
        <label>Loop in Opportunity Line Item</label>
        <locationX>176</locationX>
        <locationY>1151</locationY>
        <collectionReference>Get_Opportunity_Line_Items</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assignment_to_variable_Opportunity_Line_Item</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Get_projects_created</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_in_Opportunity_Line_Items_List</name>
        <label>Loop in Opportunity Line Items List</label>
        <locationX>352</locationX>
        <locationY>1847</locationY>
        <collectionReference>OpportunityLineItems</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assignment_in_Project_Line_Item</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Loop_in_projects_created</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_in_projects_created</name>
        <label>Loop in projects created</label>
        <locationX>176</locationX>
        <locationY>1727</locationY>
        <collectionReference>Get_projects_created</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Loop_in_Opportunity_Line_Items_List</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Create_Project_Line_Items</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_on_Opportunity</name>
        <label>Loop on Opportunity</label>
        <locationX>176</locationX>
        <locationY>455</locationY>
        <collectionReference>Opportunity_Close_Won</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assignment_in_Project</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Create_Projects</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Project_Line_Items</name>
        <label>Create Project Line Items</label>
        <locationX>176</locationX>
        <locationY>2399</locationY>
        <inputReference>ProjectLineItems</inputReference>
    </recordCreates>
    <recordCreates>
        <name>Create_Projects</name>
        <label>Create Projects</label>
        <locationX>176</locationX>
        <locationY>911</locationY>
        <connector>
            <targetReference>Get_Opportunity_Line_Items</targetReference>
        </connector>
        <inputReference>Projects</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Get_Opportunity_Line_Items</name>
        <label>Get Opportunity Line Items</label>
        <locationX>176</locationX>
        <locationY>1031</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_in_Opportunity_Line_Item</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>OpportunityId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>OpportunityLineItem</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_projects_created</name>
        <label>Get projects created</label>
        <locationX>176</locationX>
        <locationY>1607</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_in_projects_created</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Opportunity__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Project__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Opportunity_Close_Won</name>
        <label>Opportunity Close Won</label>
        <locationX>176</locationX>
        <locationY>335</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_on_Opportunity</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Opportunity</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Opportunity_Close_Won</targetReference>
        </connector>
        <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
        <filterLogic>and</filterLogic>
        <filters>
            <field>StageName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Closed Won</stringValue>
            </value>
        </filters>
        <object>Opportunity</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>OpportunityLineItem</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>OpportunityLineItem</objectType>
    </variables>
    <variables>
        <name>OpportunityLineItems</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>OpportunityLineItem</objectType>
    </variables>
    <variables>
        <name>Project</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Project__c</objectType>
    </variables>
    <variables>
        <name>ProjectLineItem</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>ProjectLineItem__c</objectType>
    </variables>
    <variables>
        <name>ProjectLineItems</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>ProjectLineItem__c</objectType>
    </variables>
    <variables>
        <name>Projects</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Project__c</objectType>
    </variables>
</Flow>
