ProyectoFinal/force-app/main/default/flows/Start_End_Project.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Email_Project_In_Loss</name>
        <label>Email Project In Loss</label>
        <locationX>314</locationX>
        <locationY>516</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>ProjectInLoss</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <elementReference>$Record.Opportunity__r.Project_Manager__r.Email</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <stringValue>Project In Loss</stringValue>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Send_Email</name>
        <label>Send Email</label>
        <locationX>50</locationX>
        <locationY>396</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>Body</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <elementReference>$Record.Opportunity__r.Project_Manager__r.Email</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <stringValue>email</stringValue>
            </value>
        </inputParameters>
    </actionCalls>
    <apiVersion>56.0</apiVersion>
    <decisions>
        <name>Decision</name>
        <label>Decision Hours Covered Or Not</label>
        <locationX>446</locationX>
        <locationY>276</locationY>
        <defaultConnector>
            <targetReference>Status_To_Completed</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Hours_Not_Covered</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Start_Date__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>$Flow.CurrentDate</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.EstimatedHours__c</leftValueReference>
                <operator>LessThan</operator>
                <rightValue>
                    <elementReference>$Record.Opportunity__r.TotalOpportunityQuantity</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Send_Email</targetReference>
            </connector>
            <label>Hours Not Covered</label>
        </rules>
        <rules>
            <name>Hours_Covered</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Start_Date__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>$Flow.CurrentDate</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.EstimatedHours__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>$Record.Opportunity__r.TotalOpportunityQuantity</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.SquadLead__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Decision_Losses_or_Earnings</targetReference>
            </connector>
            <label>Hours Covered</label>
        </rules>
    </decisions>
    <decisions>
        <name>Decision_Losses_or_Earnings</name>
        <label>Decision Losses or Earnings</label>
        <locationX>446</locationX>
        <locationY>396</locationY>
        <defaultConnector>
            <targetReference>Status_To_In_Progress</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Loss</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Amount__c</leftValueReference>
                <operator>LessThan</operator>
                <rightValue>
                    <elementReference>$Record.EstimatedAmount__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Email_Project_In_Loss</targetReference>
            </connector>
            <label>Loss</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>Ganancia</name>
        <dataType>Currency</dataType>
        <expression>{!$Record.Amount__c}-{!$Record.EstimatedAmount__c}</expression>
        <scale>2</scale>
    </formulas>
    <interviewLabel>Start End Project {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Start End Project</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>Status_To_Completed</name>
        <label>Status To Completed</label>
        <locationX>842</locationX>
        <locationY>396</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>End_Date__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </filters>
        <filters>
            <field>Total_Tasks__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Total_Tasks_Completed__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <stringValue>Completed</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Status_To_In_Progress</name>
        <label>Status To In Progress</label>
        <locationX>578</locationX>
        <locationY>516</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Amount__c</field>
            <operator>GreaterThanOrEqualTo</operator>
            <value>
                <elementReference>$Record.EstimatedAmount__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <stringValue>In Progress</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>320</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Decision</targetReference>
        </connector>
        <object>Project__c</object>
        <schedule>
            <frequency>Daily</frequency>
            <startDate>2022-11-02</startDate>
            <startTime>15:24:00.000Z</startTime>
        </schedule>
        <triggerType>Scheduled</triggerType>
    </start>
    <status>Active</status>
    <textTemplates>
        <name>Body</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;Hi , the hours of {!$Record.Alias__c} have not been covered, please complete the assignment of resources.&lt;/p&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>ProjectInLoss</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;Hi, the project {!$Record.Alias__c} is in loss, please check the projects details.&lt;/p&gt;</text>
    </textTemplates>
</Flow>
